.hero {
    position: relative;
    padding-block: var(--gap-v-2xl);
    padding-inline: 7vw;
    background-color: var(--palette-neutral-0);

    .background {
        position: absolute;
        inset-inline: 0;
        inset-block-start: calc(-1 * var(--layout-base-site-gap));
        inset-block-end: calc(-1 * var(--layout-base-page-gap));
        /* background: yellow; */
    }
}
