@layer components {
    [data-external] {
        padding-inline-end: var(--gap-h-xs);
    }

    [data-external]::after {
        display: inline-block;
        content: '⇲';
        transform: rotate(-90deg) translateY(0.1em);
        transition: all var(--motion-duration-0);
    }

    a {
        border-radius: 1.5px;
    }
}
