---
import Body from '@components/document/Body.astro';
import Document from '@components/document/Document.astro';
import Head from '@components/document/Head.astro';
import Layout from '@components/document/Layout.astro';
import NodeMeta from '@components/node/parts/NodeMeta.astro';
import Article from '@components/page/Article.astro';
import ArticleHeader from '@components/page/ArticleHeader.astro';
import Divider from '@components/page/Divider.astro';
import Markup from '@components/page/Markup.astro';
import PageHero from '@components/page/PageHero.astro';
import SiteSectionHeader from '@components/site/about/SiteSectionHeader.astro';
import SiteFooter from '@components/site/SiteFooter.astro';
import SiteHeader from '@components/site/SiteHeader.astro';
import SiteMain from '@components/site/SiteMain.astro';

import type { BaseNode } from '@queries/types';
import Section from '~/components/page/Section.astro';
import TopLine from '~/components/page/TopLine.astro';

export interface Props {
    content: BaseNode;
}

const { content: node } = Astro.props;
const { heroImage } = node;
---

<Document>
    <Head node={node} />
    <Body>
        <Layout>
            <SiteHeader slot="header" />
            <SiteSectionHeader slot="section" />
            <SiteMain slot="main">
                <Article>
                    <ArticleHeader node={node} noDate slot="header">
                        {heroImage && <PageHero src={heroImage} />}
                        <TopLine />
                    </ArticleHeader>
                    <Markup><slot /></Markup>
                    <Section>
                        <Divider />
                        <NodeMeta node={node} />
                    </Section>
                    <SiteFooter slot="footer" />
                </Article>
            </SiteMain>
        </Layout>
    </Body>
</Document>
