---
import { Body, Document, Head, Layout } from '@components/document';
import { Article, ArticleHeader, Markup, Section, TopLine } from '@components/page';
import { SiteFooter, SiteHeader, SiteMain } from '@components/site';
import type { BaseNode } from '@content/types';

export type Props = {
    content: BaseNode;
};

const { content: node } = Astro.props;
---

<Document>
    <Head node={node} />
    <Body>
        <Layout>
            <SiteHeader slot="header" />
            <SiteMain slot="main">
                <Article>
                    <ArticleHeader node={node} slot="header" />
                    <TopLine />
                    <Section>
                        <Markup><slot /></Markup>
                    </Section>
                </Article>
            </SiteMain>
            <SiteFooter slot="footer" />
        </Layout>
    </Body>
</Document>
