---
import Article from '../components/Article.astro';
import ArticleHeader from '../components/ArticleHeader.astro';
import Markup from '../components/Markup.astro';
import PageHero from '../components/PageHero.astro';
import SiteFooter from '../components/SiteFooter.astro';
import SiteHeader from '../components/SiteHeader.astro';
import SiteMain from '../components/SiteMain.astro';
import Body from '../document/Body.astro';
import Document from '../document/Document.astro';
import Head from '../document/Head.astro';
import Layout from '../document/Layout.astro';
import type { BaseNode } from '../types';

export interface Props {
    content: BaseNode;
}

const { content: node } = Astro.props;
const { heroImage } = node;
---

<Document>
    <Head node={node} />
    <Body>
        <Layout>
            <SiteHeader slot="header" />
            <SiteMain slot="main">
                <Article>
                    <ArticleHeader node={node}>
                        <PageHero src={heroImage} />
                    </ArticleHeader>
                    <hr />
                    <Markup><slot /></Markup>
                </Article>
            </SiteMain>
            <SiteFooter slot="footer" />
        </Layout>
    </Body>
</Document>
