---
import NodeList from '../components/NodeList.astro';
import Section from '../components/Section.astro';
import SectionHeader from '../components/SectionHeader.astro';
import SiteFooter from '../components/SiteFooter.astro';
import SiteHeader from '../components/SiteHeader.astro';
import SiteMain from '../components/SiteMain.astro';
import Body from '../document/Body.astro';
import Document from '../document/Document.astro';
import Head from '../document/Head.astro';
import Layout from '../document/Layout.astro';
import type { AstroNode, BlogPost } from '../types';

export interface Props {
    content: BlogPost;
}

const { content: node } = Astro.props;

const posts = (await Astro.glob<AstroNode<BlogPost>>('../pages/posts/**/*.{md,mdx}')).sort(
    (a, b) =>
        new Date(b.frontmatter.published).valueOf() - new Date(a.frontmatter.published).valueOf(),
);
---

<Document>
    <Head node={node} />
    <Body>
        <Layout>
            <SiteHeader slot="header" />
            <SiteMain slot="main">
                <Section>
                    <SectionHeader node={node} />
                    <NodeList nodes={posts} />
                </Section>
            </SiteMain>
            <SiteFooter slot="footer" />
        </Layout>
    </Body>
</Document>
