---
import Body from '@components/document/Body.astro';
import Document from '@components/document/Document.astro';
import Head from '@components/document/Head.astro';
import Layout from '@components/document/Layout.astro';
import NodeList from '@components/node/lists/NodeList.astro';
import Page from '@components/page/Page.astro';
import PageHeader from '@components/page/PageHeader.astro';
import Section from '@components/page/Section.astro';
import TopLine from '@components/page/TopLine.astro';
import SiteFooter from '@components/site/SiteFooter.astro';
import SiteHeader from '@components/site/SiteHeader.astro';
import SiteMain from '@components/site/SiteMain.astro';
import { importAllPosts, sortedPosts } from '@queries/posts';
import type { BlogPost } from '@queries/types';
import Pagination from '~/components/navigation/Pagination.astro';

export type Props = {
    content: BlogPost;
};

const { content: page } = Astro.props;

const nodes = await importAllPosts();
const posts = sortedPosts(nodes as BlogPost[]);
const top = posts.slice(0, 10);

const pageCount = Math.ceil(nodes.length / 10);
const pages = [...Array(pageCount).keys()].map((p: number) => `/posts/archive/${p + 1}`);
pages[0] = '/posts';
---

<Document>
    <Head node={page} />
    <Body>
        <Layout>
            <SiteHeader slot="header" />
            <SiteMain slot="main">
                <Page>
                    <PageHeader node={page} slot="header" />
                    <TopLine />
                    <Section>
                        <NodeList nodes={top} />
                    </Section>
                    <Pagination pages={pages} current={1} />
                </Page>
                <SiteFooter slot="footer" />
            </SiteMain>
        </Layout>
    </Body>
</Document>
