---
import { Body, Document, Head, Layout } from '@components/document';
import { PageNav } from '@components/navigation';
import { NodeList } from '@components/node';
import { Divider, Page, PageHeader, Section, SubscribeToFeed, TopLine } from '@components/page';
import { SiteFooter, SiteHeader, SiteMain } from '@components/site';
import { fetchAllPosts, sortNodes, type BlogPost } from '@nodes/index';
import { SectionTopTags } from './sections';

export type Props = {
    content: BlogPost;
};

const { content: page } = Astro.props;

const posts = await fetchAllPosts();
const sorted = sortNodes(posts);
const top = sorted.slice(0, 10);

const pageCount = Math.ceil(posts.length / 10);
const pages = [...Array(pageCount).keys()].map((p: number) => `/posts/archive/${p + 1}`);
pages[0] = '/posts';
---

<Document>
    <Head node={page} />
    <Body>
        <Layout>
            <SiteHeader slot="header" />
            <SiteMain slot="main">
                <Page>
                    <PageHeader node={page} slot="header">
                        <SubscribeToFeed title={`blog posts`} url={'/posts'} />
                    </PageHeader>
                    <TopLine />
                    <Section>
                        <NodeList nodes={top} />
                    </Section>
                    <Divider size="space">
                        <PageNav pages={pages} />
                    </Divider>
                    <Divider size="pause" />
                    <SectionTopTags />
                </Page>
            </SiteMain>
            <SiteFooter slot="footer" />
        </Layout>
    </Body>
</Document>
