---
import Body from '@components/document/Body.astro';
import Document from '@components/document/Document.astro';
import Head from '@components/document/Head.astro';
import Layout from '@components/document/Layout.astro';
import NodeAbstract from '@components/node/parts/NodeAbstract.astro';
import NodeDate from '@components/node/parts/NodeDate.astro';
import NodeTags from '@components/node/parts/NodeTags.astro';
import Article from '@components/page/Article.astro';
import Markup from '@components/page/Markup.astro';
import Section from '@components/page/Section.astro';
import SiteHeader from '@components/site/SiteHeader.astro';
import SiteMain from '@components/site/SiteMain.astro';
import type { BlogPost } from '@queries/types';

export type Props = {
    content: BlogPost;
};

const { content: node } = Astro.props;
// const { hero } = node;
---

<Document>
    <Head node={node} />
    <Body>
        <Layout>
            <SiteHeader slot="header" hideWatermark />
            <SiteMain slot="main">
                <Article>
                    <Section>
                        WIP
                        <!-- {heroImage && <PageHero {...heroImage} />} -->
                    </Section>
                    <Section>
                        <NodeDate node={node} />
                        <NodeAbstract node={node} />
                        <NodeTags node={node} />
                    </Section>
                    <Markup><slot /></Markup>
                </Article>
            </SiteMain>
        </Layout>
    </Body>
</Document>

<style>
    header {
        display: flex;
        flex-direction: column;
        gap: var(--t-space-2xs);
    }
</style>
