---
import { Body, Document, Head, Layout } from '@components/document';
import { NavLink } from '@components/navigation';
import { NodeList } from '@components/node';
import {
    Divider,
    Markup,
    Page,
    PageHeader,
    Section,
    SubscribeToFeed,
    TopLine,
} from '@components/page';

import { SiteFooter, SiteHeader, SiteMain } from '@components/site';
import { type BaseNode, type BlogPost, fetchAllNodes, shuffleEverything } from '@nodes/index';

import { SectionTopTags } from './sections';

export type Props = {
    content: BaseNode;
};

const { content: page } = Astro.props;

const nodes: BlogPost[] = await fetchAllNodes();
const ironic = nodes.filter(node => node.url !== '/everything');
const everything = shuffleEverything(ironic);
const top = everything.slice(0, 20);
const bottom = everything.slice(20, 99);
---

<Document>
    <Head node={page} />
    <Body>
        <Layout>
            <SiteHeader slot="header" />
            <SiteMain slot="main" full>
                <Page>
                    <PageHeader node={page} slot="header">
                        <SubscribeToFeed title={`everything`} url={'/everything'} />
                    </PageHeader>
                    <Section>
                        <Markup><slot /></Markup>
                    </Section>
                    <TopLine />
                    <Section>
                        <NodeList nodes={top} variant="mini" type />
                    </Section>
                    <Divider size="space" />
                    <SectionTopTags />
                    <Divider size="space" />
                    <Section>
                        <NodeList nodes={bottom} variant="textual" type />
                    </Section>
                    <Section>
                        <Divider size="gap">
                            <NavLink inline href="/posts">Too much? back to the blog</NavLink>
                        </Divider>
                    </Section>
                </Page>
            </SiteMain>
            <SiteFooter slot="footer" />
        </Layout>
    </Body>
</Document>
