---
import { Body, Document, Head, Layout } from '@components/document';
import { NavLink } from '@components/navigation';
import { NodeList } from '@components/node';
import {
    Divider,
    Markup,
    Page,
    PageHeader,
    PageSubTitle,
    Section,
    TopLine,
} from '@components/page';

import { SiteFooter, SiteHeader, SiteMain } from '@components/site';
import { type BaseNode, type BlogPost, fetchAllPosts, sortNodes } from '@nodes/index';
import { SectionTopTags } from './sections';

export type Props = {
    content: BaseNode;
};

const { content: page } = Astro.props;

const nodes: BlogPost[] = await fetchAllPosts();
const sorted = sortNodes(nodes);
const posts = sorted.slice(0, 3);
const cards = sorted.slice(3, 9);
---

<Document>
    <Head node={page} />
    <Body>
        <Layout>
            <SiteHeader slot="header" />
            <SiteMain slot="main">
                <Page>
                    <PageHeader node={page} slot="header" />
                    <Section>
                        <Markup><slot /></Markup>
                    </Section>
                    <TopLine />
                    <SectionTopTags />
                    <Divider size="gap" />
                    <Section>
                        <PageSubTitle slot="header">Latest posts</PageSubTitle>
                        <NodeList nodes={posts} />
                    </Section>
                    <Divider size="space" />
                    <Section>
                        <NodeList nodes={cards} variant="mini" />
                        <Divider size="gap">
                            <NavLink inline href="/posts">See more posts in the blog</NavLink>
                        </Divider>
                    </Section>
                </Page>
            </SiteMain>
            <SiteFooter slot="footer" />
        </Layout>
    </Body>
</Document>
