---
import Article from '../components/Article.astro';
import ArticleHeader from '../components/ArticleHeader.astro';
import Markup from '../components/Markup.astro';
import NodeAbstract from '../components/NodeAbstract.astro';
import NodeMeta from '../components/NodeMeta.astro';
import SiteFooter from '../components/SiteFooter.astro';
import SiteHeader from '../components/SiteHeader.astro';
import SiteMain from '../components/SiteMain.astro';
import Body from '../document/Body.astro';
import Document from '../document/Document.astro';
import Head from '../document/Head.astro';
import Layout from '../document/Layout.astro';
import type { MetaPage } from '../types';

export interface Props {
    content: MetaPage;
}

const { content: page } = Astro.props;
---

<Document>
    <Head node={page} />
    <Body>
        <Layout>
            <SiteHeader slot="header" />
            <SiteMain slot="main">
                <Article>
                    <ArticleHeader node={page} />
                    <NodeAbstract node={page} />
                    <hr />
                    <Markup><slot /></Markup>
                    <hr />
                    <NodeMeta node={page} />
                </Article>
            </SiteMain>
            <SiteFooter slot="footer" />
        </Layout>
    </Body>
</Document>
