---
import Body from '@components/document/Body.astro';
import Document from '@components/document/Document.astro';
import Head from '@components/document/Head.astro';
import Layout from '@components/document/Layout.astro';
import TagList from '@components/node/lists/TagList.astro';
import PageSubTitle from '@components/page/PageSubTitle.astro';
import Section from '@components/page/Section.astro';
import SectionHeader from '@components/page/SectionHeader.astro';
import SiteFooter from '@components/site/SiteFooter.astro';
import SiteHeader from '@components/site/SiteHeader.astro';
import SiteMain from '@components/site/SiteMain.astro';
import { importAllTags } from '@queries/tags';
import type { PageNode } from '@queries/types';

export interface Props {
    content: PageNode;
}

const TOP_TAGS_COUNT = 10;

const sortedTags = await importAllTags();
const topTags = sortedTags.slice(0, TOP_TAGS_COUNT);
const moreTags = sortedTags.slice(TOP_TAGS_COUNT);

const { content: page } = Astro.props;
---

<Document>
    <Head node={page} />
    <Body>
        <Layout>
            <SiteHeader slot="header" />
            <SiteMain slot="main">
                <Section>
                    <SectionHeader node={page} />
                    <TagList tags={topTags} />
                    {
                        !!moreTags.length && (
                            <>
                                <PageSubTitle>Other tags</PageSubTitle>
                                <TagList tags={moreTags} />
                            </>
                        )
                    }
                </Section>
            </SiteMain>
            <SiteFooter slot="footer" />
        </Layout>
    </Body>
</Document>
