---
import { allTags } from '../queries/tags';
import PageSubTitle from '../components/PageSubTitle.astro';
import SiteFooter from '../components/SiteFooter.astro';
import SiteHeader from '../components/SiteHeader.astro';
import SiteMain from '../components/SiteMain.astro';
import TagList from '../components/TagList.astro';
import Body from '../document/Body.astro';
import Document from '../document/Document.astro';
import Head from '../document/Head.astro';
import Layout from '../document/Layout.astro';
import type { AstroNode, BaseNode, BlogPost, PageNode } from '../types';
import Section from '../components/Section.astro';
import SectionHeader from '../components/SectionHeader.astro';

export interface Props {
    content: PageNode;
}

const TOP_TAGS_COUNT = 10;

const allNodes = await Astro.glob<AstroNode<BaseNode>>('../pages/**/*.{md,mdx}');
const sortedTags = allTags(allNodes as AstroNode<BlogPost>[]);
const topTags = sortedTags.slice(0, TOP_TAGS_COUNT);
const moreTags = sortedTags.slice(TOP_TAGS_COUNT);

const { content: page } = Astro.props;
---

<Document>
    <Head node={page} />
    <Body>
        <Layout>
            <SiteHeader slot="header" />
            <SiteMain slot="main">
                <Section>
                    <SectionHeader node={page} />
                    <TagList tags={topTags} />
                    {
                        !!moreTags.length && (
                            <>
                                <PageSubTitle>Other tags</PageSubTitle>
                                <TagList tags={moreTags} />
                            </>
                        )
                    }
                </Section>
            </SiteMain>
            <SiteFooter slot="footer" />
        </Layout>
    </Body>
</Document>
