---
import Body from '@components/document/Body.astro';
import Document from '@components/document/Document.astro';
import Head from '@components/document/Head.astro';
import Layout from '@components/document/Layout.astro';
import TagList from '@components/node/lists/TagList.astro';
import Page from '@components/page/Page.astro';
import PageHeader from '@components/page/PageHeader.astro';
import PageSubTitle from '@components/page/PageSubTitle.astro';
import Section from '@components/page/Section.astro';
import TopLine from '@components/page/TopLine.astro';
import SiteFooter from '@components/site/SiteFooter.astro';
import SiteHeader from '@components/site/SiteHeader.astro';
import SiteMain from '@components/site/SiteMain.astro';
import { importAllTags } from '@queries/tags';
import type { PageNode } from '@queries/types';

export type Props = {
    content: PageNode;
};

const { content: page } = Astro.props;

const TOP_TAGS_COUNT = 10;

const sortedTags = await importAllTags();
const topTags = sortedTags.slice(0, TOP_TAGS_COUNT);
const moreTags = sortedTags.filter(t => t.count > 1).slice(TOP_TAGS_COUNT);
---

<Document>
    <Head node={page} />
    <Body>
        <Layout>
            <SiteHeader slot="header" />
            <SiteMain slot="main">
                <Page>
                    <PageHeader node={page} slot="header" />
                    <TopLine />
                    <Section>
                        <TagList tags={topTags} />
                    </Section>
                    {
                        !!moreTags.length && (
                            <Section>
                                <PageSubTitle slot="header" slot="header">
                                    Other tags
                                </PageSubTitle>
                                <TagList tags={moreTags} />
                            </Section>
                        )
                    }
                </Page>
            </SiteMain>
            <SiteFooter slot="footer" />
        </Layout>
    </Body>
</Document>
