<nav id="site-nav" aria-label="Main navigation">

  <svg>
    <defs>
        <filter id="noise-1">
            <feTurbulence type="fractalNoise" baseFrequency=".1" numOctaves="10" />
            <feDisplacementMap in="SourceGraphic" scale="2" />
        </filter>
    </defs>
  </svg>

  <svg>
    <defs>
        <filter id="noise-2">
            <feTurbulence type="fractalNoise" baseFrequency=".05" numOctaves="5" />
            <feDisplacementMap in="SourceGraphic" scale="2" />
        </filter>
    </defs>
  </svg>

  {# <svg viewBox="0 0 180 100">
    <filter id='noise' x='0%' y='0%' width='100%' height='100%'>
      <feTurbulence type="fractalNoise" baseFrequency="0 0.1" result="NOISE" numOctaves="2"/>
      <feDisplacementMap in="SourceGraphic" in2="NOISE" scale="30" xChannelSelector="R" yChannelSelector="R"></feDisplacementMap>
    </filter>
  </svg>

 #}

    <ul>
      {% for item in site.map %}
        {% if item.level <= 2 and not item.data.nav.hide %}
          {% if  item.lang == page.lang %}
            <li>
              {% set isCurrent = item.url === page.url if item.isRoot else page.url.startsWith(item.url) %}
              <a
                href="{{ item.url }}"
                {% if isCurrent %}
                aria-current="page"
                class="current"
                {% endif %}
              >
                {{ item.title }}
              </a>
            </li>
          {% endif %}
        {% endif %}
      {% endfor %}
    </ul>
  </nav>

