#site-nav {
    position: relative;
    --__inset: 5px;
    --__bg-color: var(--color-nav-base);
    --__border-color: transparent;

    svg {
        width: 0px;
        height: 0px;
        visibility: hidden;
    }

    ul {
        display: flex;
        flex-direction: row;
        gap: var(--gap-h-xs);
        overflow-x: auto;
        margin: calc(-1 * var(--space-m));
        padding: var(--space-m);
    }

    a {
        position: relative;
        display: block;
        padding: var(--gap-v-3xs);
        font-weight: var(--type-weight-bold);
        line-height: 1;
        text-decoration: none;
        color: var(--color-nav-contrast);
        transition-duration: var(--motion-duration-1);
        transition-property: color;

        &:hover {
            --__bg-color: var(--color-nav-base-hover);
            --__border-color: var(--color-nav-contrast);
        }

        &:active {
            --__bg-color: var(--color-nav-base-active);
            --__inset: 4px;
        }

        &:before {
            content: '';
            position: absolute;
            z-index: -1;
            top: var(--__inset);
            right: var(--__inset);
            bottom: var(--__inset);
            left: var(--__inset);
            background-color: var(--__bg-color);
            transition-duration: var(--motion-duration-1);
            transition-property: background-color;
            /* filter: url(#noise-2); */
        }

        &:after {
            content: '';
            position: absolute;
            inset: 0;
            border: 3px solid var(--__border-color);
            /* filter: url(#noise-1); */
        }
    }

    .current {
        color: var(--color-nav-base);
        --__bg-color: var(--color-nav-contrast);
        --__inset: 1px;

        &:hover {
            color: var(--color-nav-base-hover);
            --__bg-color: var(--color-nav-contrast-hover);
        }
    }

    @media screen and (width >= 600px) {
        a {
            padding: var(--gap-v-2xs);
        }
    }

    @media screen and (width >= 800px) {
        a {
            padding: var(--gap-v-xs);
        }
    }
}
