#site-nav {
    position: relative;

    svg {
        width: 0px;
        height: 0px;
        visibility: hidden;
    }

    ul {
        display: flex;
        flex-direction: row;
        gap: var(--gap-h-xs);
    }

    a {
        display: block;
        padding: var(--gap-v-3xs);
        font-weight: var(--type-weight-bold);
        line-height: 1;
        text-decoration: none;
        color: var(--color-nav-contrast);
        background-color: var(--color-nav-base);
        transition-duration: var(--motion-duration-2);
        transition-property: color, background-color;

        &:hover {
            background-color: var(--color-nav-base-hover);
        }

        &:active {
            background-color: var(--color-nav-base-active);
        }
    }

    .current {
        color: var(--color-nav-base);
        background-color: var(--color-nav-contrast);

        &:hover {
            color: var(--color-nav-base-hover);
            background-color: var(--color-nav-contrast-hover);
        }
    }

    @media screen and (width >= 600px) {
        a {
            padding: var(--gap-v-2xs);
        }
    }

    @media screen and (width >= 800px) {
        a {
            padding: var(--gap-v-xs);
        }
    }
}
