---
import type { BaseNode } from '@queries/types';
import TagLink, { TagLinkSize } from './TagLink.astro';

export type Props = {
    node: BaseNode;
    size?: TagLinkSize;
};

const { node, size } = Astro.props;
const { tags } = node;

const show = tags && tags.length;
---

{
    show && (
        <ul>
            {tags.map(tag => (
                <li class={`tag ${tag}`}>
                    <TagLink tag={tag} size={size} />
                </li>
            ))}
        </ul>
    )
}

<style>
    ul {
        display: flex;
        flex-wrap: wrap;
        gap: var(--layout-unit);
    }

    li {
        display: inline;
    }
</style>
