---
import { Icon } from '@components/atoms';
import { ChevronLeft, ChevronRight } from '@components/icons';
import { NavLink } from '@components/navigation';
import type { BlogPost } from '@nodes/index';

export type Props = {
    previous: BlogPost | undefined;
    next: BlogPost | undefined;
};

const { previous, next } = Astro.props;

const show = previous || next;
---

{
    show && (
        <div>
            {(previous && (
                <p>
                    <Icon size="auto">
                        <ChevronLeft />
                    </Icon>{' '}
                    Previous post{' '}
                    <span>
                        <NavLink href={previous.url}>{previous.title}</NavLink>
                    </span>
                </p>
            )) || <>&nbsp;</>}
            {next && (
                <p>
                    <Icon size="auto">
                        <ChevronRight />
                    </Icon>{' '}
                    Next post{' '}
                    <span>
                        <NavLink href={next.url}>{next.title}</NavLink>
                    </span>
                </p>
            )}
        </div>
    )
}

<style>
    div {
        display: flex;
        width: 100%;
        justify-content: space-between;
        gap: var(--gap-h-m);
        flex-wrap: wrap;
        font-family: var(--t-type-family-nav);
    }

    @media print {
        div {
            display: none;
        }
    }
</style>
