---
import type { BaseNode } from '@queries/types';
import { shortDate } from '@utils/date';

export interface Props {
    node: BaseNode;
}

const { node } = Astro.props;
const { published } = node;

const publishedDate = published && new Date(published);
---

{
    publishedDate && (
        <span>
            {publishedDate && (
                <time datetime={publishedDate.toISOString()}>{shortDate(publishedDate)}</time>
            )}
        </span>
    )
}

<style>
    span {
        display: block;
        font-size: var(--t-type-size--1);
    }

    time {
        display: inline-block;
        padding: var(--layout-shift) var(--layout-unit);
        font-family: var(--t-type-family-alt);
        color: var(--scheme-alt-fg);
        background-color: var(--scheme-alt-bg);
    }
</style>
