---
import Markdown from '@components/page/Markdown.astro';
import type { BaseNode } from '@content/index';

export type AbstractVariant = 'full' | 'compact' | 'mini';

export type Props = {
    node: BaseNode;
    variant?: AbstractVariant;
    max?: number | undefined | null;
};

const { node, variant = 'full', max } = Astro.props;
const { description, abstract } = node;

function trim(str: string | undefined, max?: number): string | undefined {
    return str && max && str.length > max ? str.slice(0, max - 1) + '&hellip;' : str;
}

const text = (max ? abstract?.text : abstract?.markdown) || description;
const content = max ? trim(text, max) : text;
---

{
    content && (
        <div class:list={[variant]}>
            <Markdown content={content} />
        </div>
    )
}

<style>
    div {
        font-size: var(--t-type-size-1);
    }

    .compact {
        font-size: var(--t-type-size-0);
        line-height: var(--t-type-height-small);
    }

    .mini {
        font-size: var(--t-type-size--2);
        line-height: var(--t-type-height-compact);
    }
</style>
