---
import Icon from '@components/atoms/Icon.astro';

import ChevronLeft from '@icons/ChevronLeft.astro';
import ChevronRight from '@icons/ChevronRight.astro';

import NavLink from '@components/navigation/NavLink.astro';
import type { BlogPost } from '@queries/types';

export type Props = {
    previous: BlogPost | undefined;
    next: BlogPost | undefined;
};

const { previous, next } = Astro.props;

const show = previous || next;
---

{
    show && (
        <div>
            {(previous && (
                <p>
                    <Icon size="auto">
                        <ChevronLeft />
                    </Icon>{' '}
                    Previous post{' '}
                    <span>
                        <NavLink href={previous.url}>{previous.title}</NavLink>
                    </span>
                </p>
            )) || <>&nbsp;</>}
            {next && (
                <p>
                    <Icon size="auto">
                        <ChevronRight />
                    </Icon>{' '}
                    Next post{' '}
                    <span>
                        <NavLink href={next.url}>{next.title}</NavLink>
                    </span>
                </p>
            )}
        </div>
    )
}

<style>
    div {
        display: flex;
        justify-content: space-between;
        gap: var(--layout-unit);
        flex-wrap: wrap;
    }

    @media print {
        div {
            display: none;
        }
    }
</style>
