---
export interface Props {
    tag: string;
}

const { tag } = Astro.props;
---

<a class="tag" href={`/tags/${tag}`}>#{tag}</a>

<style>
    .tag {
        display: inline-block;
        padding: 0 var(--layout-shift) var(--layout-shift);
        color: var(--scheme-bg);
        font-family: var(--t-type-family-alt);
        font-weight: var(--t-type-weight-alt-bold);
        background-color: var(--scheme-fg);
        border-radius: var(--radius-action);
        text-decoration: none;
        min-width: min-content;
    }

    .tag::selection {
        color: var(--scheme-bg);
        background-color: var(--scheme-a-on);
    }

    .tag:hover {
        color: var(--scheme-bg);
        background-color: var(--scheme-a-on);
    }

    .tag:active {
        color: var(--scheme-fg);
        background-color: var(--scheme-bg);
    }
</style>
