{% import "components/flags.njk" as flags %}

<languages class="site-languages">
  <h2>{{ 'site.content.languages.title' | t }}</h2>
  <ul class="layout">
    {% for item in data.languages %}
    <li class="item">
      {{ flags[item.lang]({ size: 'small' }) }}
      <span class="labels">
        <span class="language">
          {% set name = t(item.name) %}
          {{ name }}
        </span>
        <span class="level">
          {% set level = t(item.level) %}
          {{ level }}
        </span>
      </span>
    </li>
    {% endfor %}
  </ul>
</languages>
