{% import "components/flags.njk" as flags %}

<div class="site-languages">
  <ul class="layout">
    {% for item in data.languages %}
    {% set exists = item.lang in locale.languages %}
    {% set translation = page.translations[item.lang] if exists %}
    <li class="item">
      {% if exists %}
        <a href="{{ translation.url }}" hreflang="{{ item.lang }}" lang="{{ item.lang }}">
      {% endif %}
      {{ flags[item.lang]({ size: 'small' }) }}
      {% if exists %}
        </a>
      {% endif %}
        <span class="labels">
          <span class="language">
            {% if exists %}
              <a href="{{ translation.url }}" hreflang="{{ item.lang }}" lang="{{ item.lang }}">
            {% endif %}
              {{ item.name | t }}
            {% if exists %}
              </a>
            {% endif %}

          </span>
          <span class="level">
            {% set level = t(item.level) %}
            {{ level }}
          </span>
        </span>
    </li>
    {% endfor %}
  </ul>
</div>
