.site-languages {
    padding-block-start: var(--gap-v-xs);
    display: flex;
    flex-direction: column;
    gap: var(--gap-v-s);

    h2 {
        margin: 0;
    }

    > .layout {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: var(--gap-v-2xs);
    }

    .item,
    .labels {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: var(--gap-h-s);
    }

    .labels {
        gap: var(--gap-h-2xs);
    }

    .language {
        font-weight: var(--type-weight-bold);
    }
}
