:root {
    --radius-action: 0.2em;
}

body {
    margin: 0;
    font-size: var(--t-type-size-0);
    font-family: var(--t-type-family-base);
    font-weight: var(--t-type-weight-base);
    line-height: var(--t-type-height-base);
    word-wrap: break-word;
    overflow-wrap: break-word;
}

a,
button {
    border-radius: var(--radius-action);
}
