html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    height: 100%;
}
body {
    min-height: 100vh;
}

body,
h1,
h2,
h3,
h4,
h5,
hr,
p,
figure,
blockquote,
ul,
ol,
dl,
dd {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

html:focus-within {
    scroll-behavior: smooth;
}

body {
    text-rendering: optimizeSpeed;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

table {
    width: 100%;
}

audio {
    width: 100%;
}

img,
picture {
    max-width: 100%;
    display: block;
    height: auto;
}

img,
iframe {
    border: none;
}

img {
    color: transparent;
}

input,
button,
textarea,
select {
    font: inherit;
}

@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}
