/* @link https://utopia.fyi/space/calculator?c=320,16,1.25,1600,20,1.333,7,2,&s=0.8|0.4,1.6|2.4|3.2|5|10,&g=s,l,xl,12 */

:root {
    --t-space-2xs: clamp(0.38rem, calc(0.34rem + 0.16vw), 0.5rem);
    --t-space-xs: clamp(0.81rem, calc(0.77rem + 0.23vw), 1rem);
    --t-space-s: clamp(1rem, calc(0.94rem + 0.31vw), 1.25rem);
    --t-space-m: clamp(1.63rem, calc(1.53rem + 0.47vw), 2rem);
    --t-space-l: clamp(2.38rem, calc(2.22rem + 0.78vw), 3rem);
    --t-space-xl: clamp(3.19rem, calc(2.98rem + 1.02vw), 4rem);
    --t-space-2xl: clamp(5rem, calc(4.69rem + 1.56vw), 6.25rem);
    --t-space-3xl: clamp(10rem, calc(9.38rem + 3.13vw), 12.5rem);

    /* One-up pairs */
    --t-space-2xs-xs: clamp(0.38rem, calc(0.22rem + 0.78vw), 1rem);
    --t-space-xs-s: clamp(0.81rem, calc(0.7rem + 0.55vw), 1.25rem);
    --t-space-s-m: clamp(1rem, calc(0.75rem + 1.25vw), 2rem);
    --t-space-m-l: clamp(1.63rem, calc(1.28rem + 1.72vw), 3rem);
    --t-space-l-xl: clamp(2.38rem, calc(1.97rem + 2.03vw), 4rem);
    --t-space-xl-2xl: clamp(3.19rem, calc(2.42rem + 3.83vw), 6.25rem);
    --t-space-2xl-3xl: clamp(5rem, calc(3.13rem + 9.38vw), 12.5rem);
}

:root {
    --layout-container-width: 35em; /* 560px - 68ch ~ 75ch */
    --layout-col-1: calc(10rem + 10vw);
    --layout-bi-col-1: 10rem;
    --layout-bi-col-2: calc(10rem + 10vw);

    --layout-headroom: var(--t-space-xl);
    --layout-legroom: var(--t-space-xl);
    --layout-space: var(--t-space-xl);
    --layout-pause: var(--t-space-l);

    --layout-gutter: var(--t-space-m);
    --layout-gutter-min: var(--t-space-s);
    --layout-wall: var(--t-space-s);
    --layout-gap: var(--t-space-xs);
    --layout-unit: var(--t-space-2xs);

    --layout-border-medium: clamp(0.38rem, calc(0.34rem + 1vw), 1rem);
    --layout-border-medium: var(--t-space-2xs-xs);
    --layout-border-thin: 2px;
    --layout-border-wide: var(--t-space-s);

    --layout-s-one: 1em;
    --layout-s-half: 0.5em;
    --layout-s-quarter: 0.25em;
    --layout-shift: 0.1em;
    --layout-unshift: -0.1em;
}

@media screen and (min-width: 480px) {
    :root {
        --layout-gutter: var(--t-space-l);
        --layout-gutter-min: var(--t-space-m);
    }
}

@media screen and (min-width: 1060px) {
    :root {
        --layout-headroom: var(--t-space-m);
        --layout-legroom: var(--t-space-3xl);
        --layout-space: var(--t-space-xl);
        --layout-pause: calc(var(--t-space-xl) + var(--t-space-l));

        --layout-gutter: var(--t-space-xl-2xl);
        --layout-gutter-min: var(--t-space-l);
        --layout-wall: var(--t-space-m);
        --layout-gap: var(--t-space-s);
        --layout-unit: var(--t-space-xs);

        --layout-border-thin: 4px;
        --layout-border-wide: var(--t-space-m);
    }
}

@media screen and (min-width: 1420px) {
    :root {
        --layout-headroom: var(--t-space-l);
        --layout-pause: calc(var(--t-space-xl));
    }
}

@media print {
    :root {
        --layout-headroom: 0;
        --layout-gutter: 0;
        --layout-border-medium: var(--layout-shift);
    }
}
