/* @link https://utopia.fyi/type/calculator?c=320,15,1.125,1600,20,1.25,7,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
    --t-type-size--2: clamp(0.74rem, calc(0.73rem + 0.07vw), 0.8rem);
    --t-type-size--1: clamp(0.83rem, calc(0.79rem + 0.21vw), 1rem);
    --t-type-size-0: clamp(0.94rem, calc(0.86rem + 0.39vw), 1.25rem);
    --t-type-size-1: clamp(1.06rem, calc(0.93rem + 0.63vw), 1.56rem);
    --t-type-size-2: clamp(1.19rem, calc(0.99rem + 0.96vw), 1.95rem);
    --t-type-size-3: clamp(1.34rem, calc(1.06rem + 1.38vw), 2.44rem);
    --t-type-size-4: clamp(1.5rem, calc(1.11rem + 1.94vw), 3.05rem);
    --t-type-size-5: clamp(1.69rem, calc(1.16rem + 2.66vw), 3.82rem);
    --t-type-size-6: clamp(1.9rem, calc(1.18rem + 3.58vw), 4.77rem);
    --t-type-size-7: clamp(2.14rem, calc(1.18rem + 4.78vw), 5.96rem);
}

:root {
    --t-type-family-base: 'Source Serif Pro', 'TimesFallback', serif;
    --t-type-family-alt: 'Mulish', 'ArialFallback', sans-serif;
    --t-type-family-nav: 'Mulish', 'ArialFallback', sans-serif;
    --t-type-family-heading: 'Mulish', 'ArialFallback', sans-serif;
    --t-type-family-deco: 'Mulish', 'ArialFallback', sans-serif;
}

:root {
    --t-type-weight-base: 400;
    --t-type-weight-medium: 600;
    --t-type-weight-bold: 800;
    --t-type-weight-alt-bold: 600;
    --t-type-weight-alt-black: 900;
    --t-type-height-compact: 1;
    --t-type-height-small: 1.25;
    --t-type-height-base: 1.5;
    --t-type-height-large: 2;
}

@font-face {
    font-family: 'TimesFallback';
    size-adjust: 101%;
    src: local('Georgia');
}

@font-face {
    font-family: 'ArialFallback';
    size-adjust: 108.5%;
    src: local('Arial');
}

body {
    font-size: var(--t-type-size-0);
    font-family: var(--t-type-family-base);
    font-weight: var(--t-type-weight-base);
    line-height: var(--t-type-height-base);
    text-size-adjust: 100%;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5 {
    line-height: var(--t-type-height-small);
    font-family: var(--t-type-family-heading);
    font-weight: var(--t-type-weight-alt-black);
}

h1 {
    font-size: var(--t-type-size-5);
}

h2 {
    font-size: var(--t-type-size-3);
}

h3 {
    font-size: var(--t-type-size-2);
}

h4 {
    font-size: var(--t-type-size-1);
}

h5 {
    font-size: var(--t-type-size-1);
}
