{% include 'partials/site/private/skip-link.njk' %}

<header id="site-header" class="container" role="banner">
  <div class="layout">
    {% include 'partials/site/private/site-title.njk' %}
    <div class="tools">
      {% include 'partials/site/lang-switcher.njk' %}
    </div>
  </div>

  {% include 'partials/site/private/site-nav.njk' %}
</header>
