{% import "components/icons.njk" as icons %}
{% import "components/flags.njk" as flags %}

{% from "components/action/button_close.njk" import button_close %}

{% set currentLang = t('site.languages.names.' + page.lang) %}
{% set defaultPageName = pagename('/') %}
{% set hasTranslations = page.hasTranslations %}

{% set lang = page.lang %}

<div class="lang-switcher">

    <button popovertarget="lang-popover" aria-label="{{ 'site.lang-switcher.label' | t({ langName: currentLang }) }}">
        {{ icons.language({ size: "small" }) }}
        {{ flags[lang]({ size: 'small' }) }}
    </button>

    {% set popoverTitle = t('site.lang-switcher.translated.title') if hasTranslations else t('site.lang-switcher.not-translated.title', { pageName: defaultPageName }) %}

    <div id="lang-popover" popover class="container">
        <div class="layout">
            {% if not hasTranslations %}
                <p class="notice">{{ 'site.lang-switcher.not-translated.note' | t({ langName: currentLang }) }}</p>
            {% endif %}
            <div class="header">
                {% if hasTranslations %}
                    {{ flags[page.lang]({ size: 'small' }) }}
                    <h4 aria-hidden>{{ popoverTitle }}</h4>
                {% else %}
                    <h4>{{ popoverTitle }}</h4>
                {% endif %}
            </div>
            <nav class="languages" aria-label="{{ 'site.lang-switcher.aria-label' | t}}">

                {% for language in locale.languages %}

                    {% set translation = page.translations[language] if hasTranslations %}
                    {% if not hasTranslations or (translation and language != page.lang) %}
                        {% set url = translation.url if hasTranslations else iurl('/', language ) %}

                        <p>
                        {% set targetLang = t('site.languages.names.' + language, { lng: language }) %}
                            <a
                                href="{{ url }}"
                                hreflang="{{ language }}"
                                lang="{{ language }}"
                                title="{{ targetLang }}"
                                {% if page.lang == language %}
                                class="current"
                                aria-current="page"
                                {% endif %}
                            >

                                {{ flags[language]({ size: 'small' }) }}
                                <span class="name" aria-hidden>{{ targetLang }}</span>
                            </a>
                        </p>
                    {% endif %}
                {% endfor %}
            </nav>
            {{ button_close({
                ariaLabel: 'site.lang-switcher.close-label' | t,
                onClick: "_q('#lang-popover').hidePopover()"
            }) }}

            <button class="blur-sensor" onFocus="_q('#lang-popover').hidePopover()">
        </div>
    </div>
</div>
