.lang-switcher {
    --__padding: var(--gap-v-xl);
    --__gap: var(--gap-v-s);
    --__width: var(--space-3xl);

    @media screen and (width >= 320px) {
        --__padding: var(--gap-v-2xl);
    }

    @media screen and (width >= 600px) {
        --__gap: var(--gap-v-m);
        --__width: var(--space-5xl);
    }

    @media screen and (width >= 800px) {
        --__padding: var(--gap-v-xl);
    }

    [popovertarget] {
        display: flex;
        align-items: center;
        gap: var(--gap-h-3xs);
        padding: var(--gap-v-3xs);
        color: var(--palette-neutral-6);
        background-color: var(--palette-neutral-3);
        border: none;
        border-radius: 1.5px;
        cursor: pointer;
    }

    [popovertarget]:hover,
    [popovertarget]:active {
        color: var(--color-i-contrast);
    }

    [popovertarget]:active {
        background-color: var(--palette-neutral-4);
    }

    [popover]::backdrop {
        backdrop-filter: blur(3px) saturate(50%) brightness(0.5) contrast(0.8);
    }

    [popover] {
        opacity: 0;
        justify-content: end;
        margin-inline: auto;
        margin-block-start: calc(var(--type-size-2) + var(--gap-v-xl));
        background-color: transparent;
        border: none;
        transition-property: opacity;
        transition-duration: var(--motion-duration-3);
    }

    [popover]:popover-open {
        opacity: 1;
        display: flex;
    }

    .layout {
        position: relative;
        min-width: calc(2 * var(--__width));
        padding: var(--__padding);
        background-color: var(--palette-neutral-1);
    }

    .layout,
    .languages {
        display: flex;
        flex-direction: column;
        gap: var(--__gap);
    }

    a,
    .header {
        display: flex;
        align-items: center;
        gap: var(--gap-h-2xs);
    }

    .notice {
        color: var(--color-i-contrast);
    }

    .header {
        padding-block-end: var(--__gap);
        border-block-end: var(--border-size-thin) solid var(--palette-neutral-5);
    }

    h4 {
        font-size: var(--type-size-2);
        /* font-weight: var(--type-weight-medium); */
        color: var(--surface-page-fg-muted);
    }

    a {
        opacity: 0.8;
        line-height: 1;
        text-decoration: none;
        color: var(--palette-neutral-7);
    }

    a:hover {
        opacity: 1;
    }

    .button-close {
        position: absolute;
        top: 5px;
        /* var(--gap-v-3xs); */
        right: 5px;
        /* var(--gap-v-3xs); */
    }

    .blur-sensor {
        position: absolute;
        width: 0;
        height: 0;
        padding: 0;
        border: none;
    }
}
