.lang-switcher {
    color: var(--color-i-contrast);
    font-size: var(--type-size-2);
    font-weight: var(--type-weight-medium);

    [popovertarget] {
        display: flex;
        align-items: center;
        gap: var(--gap-h-3xs);
        padding: var(--gap-v-3xs);
        color: var(--palette-neutral-6);
        background-color: var(--palette-neutral-3);
        border: none;
        border-radius: 1.5px;
        cursor: pointer;
    }

    [popovertarget]:hover,
    [popovertarget]:active {
        color: var(--color-i-contrast);
    }

    [popovertarget]:active {
        background-color: var(--palette-neutral-4);
    }

    [popover]::backdrop {
        backdrop-filter: blur(3px) saturate(50%) brightness(0.5) contrast(0.8);
    }

    [popover] {
        opacity: 0;
        transition-property: opacity;
        transition-duration: (--motion-duration-3);
    }

    [popover]:popover-open {
        opacity: 1;
        display: flex;
        justify-content: end;
        margin-inline: auto;
        margin-block-start: calc(var(--type-size-2) + var(--gap-v-xl));
        padding: var(--space-m);
        background-color: transparent;
        border: none;
    }

    .layout {
        position: relative;
        padding-block: var(--gap-v-m);
        padding-inline: var(--gap-h-l);
        background-color: var(--palette-neutral-1);
    }

    .layout,
    .languages {
        display: flex;
        flex-direction: column;
        gap: var(--gap-v-xs);
    }

    a,
    .not-available,
    .header {
        display: flex;
        align-items: center;
        gap: var(--gap-h-3xs);
    }

    .header {
        padding-block-end: var(--gap-v-xs);
        border-block-end: var(--border-size-thin) solid var(--palette-neutral-5);
    }

    h4 {
        font-size: var(--type-size-2);
        /* font-weight: var(--type-weight-medium); */
        color: var(--surface-page-fg-muted);
    }

    a,
    .not-available {
        line-height: 1;
    }

    a {
        opacity: 0.8;
        color: var(--palette-neutral-7);
        text-decoration: none;
    }

    a:hover {
        opacity: 1;
    }

    .not-available {
        color: var(--palette-neutral-5);
        cursor: not-allowed;
    }

    .not-available .flag {
        opacity: 0.5;
    }

    .button-close {
        position: absolute;
        top: 0;
        /* var(--gap-v-3xs); */
        right: 0;
        /* var(--gap-v-3xs); */
    }

    .blur-sensor {
        position: absolute;
        width: 0;
        height: 0;
        padding: 0;
        border: none;
    }
}
