.lang-switcher {
    color: var(--color-i-contrast);
    font-size: var(--type-size-1);
    font-weight: var(--type-weight-medium);

    button {
        display: flex;
        align-items: center;
        gap: var(--gap-h-3xs);
        padding: var(--gap-v-3xs);
        color: var(--palette-neutral-6);
        background-color: var(--palette-neutral-3);
        border: none;
        border-radius: 1.5px;
        cursor: pointer;
    }

    button:hover,
    button:active {
        color: var(--color-i-contrast);
    }

    button:active {
        background-color: var(--palette-neutral-4);
    }

    [popover]::backdrop {
        backdrop-filter: blur(3px) saturate(50%) brightness(0.5) contrast(0.8);
    }

    [popover] {
        opacity: 0;
        margin-right: var(--gap-container-h);
        margin-left: auto;
        transition-property: opacity;
        transition-duration: (--motion-duration-3);
    }

    [popover]:popover-open {
        opacity: 1;
        display: flex;
        justify-content: end;
        margin-block-start: calc(var(--type-size-2) + var(--gap-v-xl));
        padding: 0;
        background-color: transparent;
        border: none;
    }

    .layout,
    .languages {
        display: flex;
        flex-direction: column;
        gap: var(--gap-v-xs);
    }

    .layout {
        padding-block: var(--gap-v-2xs) var(--gap-v-xs);
        padding-inline: var(--gap-h-xs);
        background-color: var(--palette-neutral-4);
    }

    h4 {
        padding-block-end: var(--gap-v-3xs);
        border-block-end: var(--border-size-thin) solid var(--palette-neutral-5);
        font-size: var(--type-size-1);
        /* font-weight: var(--type-weight-medium); */
        color: var(--surface-page-fg-muted);
    }

    a,
    .not-available {
        display: flex;
        align-items: center;
        gap: var(--gap-h-3xs);
        line-height: 1;
    }

    a {
        opacity: 0.8;
        color: var(--palette-neutral-7);
        text-decoration: none;
    }

    a:hover {
        opacity: 1;
    }

    .not-available {
        color: var(--palette-neutral-5);
        cursor: not-allowed;
    }

    .not-available .flag {
        opacity: 0.5;
    }
}
