---
import NodeDate from '@components/node/parts/NodeDate.astro';
import type { BaseNode } from '@queries/types';

export interface Props {
    node: BaseNode;
}

const { node } = Astro.props;
---

<article>
    <header>
        <h3>
            <a href={node.url}>{node.title}</a>
        </h3>
        <NodeDate size="s" node={node} />
    </header>
    <p>{node.description}</p>
</article>

<style>
    article {
        display: flex;
        flex-direction: column;
        gap: var(--t-space-s);
    }

    header {
        display: flex;
        flex-direction: column-reverse;
        gap: var(--t-space-2xs);
    }

    p {
        font-size: var(--t-type-size-1);
    }
</style>
