---
import type { BaseNode } from '@content/index';

import NodeCard, { type CardVariant } from '../cards/NodeCard.astro';

export type Props = {
    nodes: BaseNode[];
    variant?: CardVariant;
};

const { nodes, variant = 'default' } = Astro.props;
---

<ul class:list={[variant]}>
    {
        nodes.map(node => (
            <li>
                <NodeCard node={node} variant={variant} />
            </li>
        ))
    }
</ul>

<style>
    ul,
    li {
        display: flex;
        flex-direction: column;
    }

    ul {
        gap: var(--layout-space);
    }

    .compact {
        display: grid;
        width: 100%;
        column-gap: var(--layout-wall);
        row-gap: var(--layout-space);
    }

    @media screen and (min-width: 650px) {
        .compact {
            grid-template-columns: 47% 47%;
        }
    }

    li {
        gap: var(--t-space-2xs);
    }

    p {
        font-size: var(--t-type-size-1);
    }
</style>
