---
import type { BaseNode } from '@queries/types';
import NodeListItem from './NodeListItem.astro';

export type Props = {
    nodes: BaseNode[];
};

const { nodes } = Astro.props;
---

<ul>
    {
        nodes.map(node => (
            <li>
                <NodeListItem node={node} />
            </li>
        ))
    }
</ul>

<style>
    ul,
    li {
        display: flex;
        flex-direction: column;
    }

    ul {
        gap: var(--layout-space);
    }

    li {
        gap: var(--t-space-2xs);
    }

    p {
        font-size: var(--t-type-size-1);
    }
</style>
