---
import type { TagNode } from '@queries/types';

import TagLink, { type TagLinkSize } from '../parts/TagLink.astro';

export type Props = {
    tags: TagNode[];
    size?: TagLinkSize;
};

const { tags, size = 'medium' } = Astro.props;
---

<ul role="list">
    {
        tags.map(tag => (
            <li>
                <h3>
                    <TagLink tag={tag.title} count={tag.count} size={size} />
                </h3>
            </li>
        ))
    }
</ul>

<style>
    ul {
        display: flex;
        flex-wrap: wrap;
        gap: var(--layout-unit);
    }
</style>
