---
import type { TagNode } from '@queries/types';

export type Props = {
    tags: TagNode[];
};

const { tags } = Astro.props;
---

<ul role="list">
    {
        tags.map(tag => (
            <li>
                <h3>
                    <a href={`/tags/${tag.title}`}>
                        #{tag.title} ({tag.count})
                    </a>
                </h3>
            </li>
        ))
    }
</ul>
