---
import PrintWatermark from '@components/page/PrintWatermark.astro';
import { SubscribeToFeed } from '../page';
---

<footer role="contentinfo" class="cs-tertiary">
    <div class="container">
        <PrintWatermark />
        <hr />
        <div class="navigation">
            <nav class="nav" role="navigation" aria-label="Main sections of the site">
                <h4 aria-hidden>Navigation</h4>
                <ul>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/posts">Blog</a>
                    </li>
                    <li>
                        <a href="/tags">Tags</a>
                    </li>
                    <li>
                        <a href="/meta">Meta</a>
                    </li>
                    <li>
                        <a href="/about">About</a>
                    </li>
                </ul>
            </nav>
            <nav class="contacts" aria-label="you can find me elsewhere at">
                <h4 aria-hidden>Links</h4>
                <ul class="nav-external">
                    <li>
                        <a class="external-link Github" href="https://github.com/andrezero">
                            <span>Github</span>
                        </a>
                    </li>
                    <li>
                        <a
                            class="external-link LinkedIn"
                            href="https://linkedin.com/in/andretorgal"
                        >
                            <span>LinkedIn</span>
                        </a>
                    </li>
                </ul>
                <ul class="nav-external">
                    <li>
                        <a
                            class="external-link YouTube"
                            href="https://www.youtube.com/channel/UC4YAgk0hQbLe78EV0njtKIA"
                        >
                            <span>YouTube</span>
                        </a>
                    </li>
                    <li>
                        <a class="external-link Soundcloud" href="https://soundcloud.com/andrezero">
                            <span>Soundcloud</span>
                        </a>
                    </li>
                    <li>
                        <a
                            class="external-link Bandcamp"
                            href="https://low-grade-arcade.bandcamp.com/album/ambivalent-red"
                        >
                            <span>Bandcamp</span>
                        </a>
                    </li>
                </ul>
            </nav>

            <nav class="subscribe">
                <h4 aria-hidden>Subscribe</h4>
                <ul>
                    <li><SubscribeToFeed title={`Blog`} url="/posts" compact reverse /></li>
                    <li>
                        <SubscribeToFeed title={`Everything`} url="/everything" compact reverse />
                    </li>
                </ul>
            </nav>
        </div>
        <div class="legal">
            <p class="copyright">
                <span class="site-name">andretorgal.com</span>
                <span class="version">v.3.2</span>
                <span class="year">Copyright © 2025</span>
                <a href="/about">André Torgal</a>
            </p>

            <p class="license">
                All code and content is available on
                <a class="external-link" href="https://github.com/andrezero/site.git"
                    ><span>Github</span>
                </a>
                under a
                <a
                    class="external-link"
                    href="https://raw.githubusercontent.com/andrezero/site/master/LICENSE-MIT"
                    ><span>MIT LICENSE</span>
                </a>, unless otherwise noted.
            </p>

            <p class="notice">
                This site respects your privacy: no cookies, analytics, or tracking tools are used.
            </p>
        </div>
    </div>
</footer>

<style>
    footer {
        color: var(--scheme-fg);
        background-color: var(--scheme-bg);
        font-family: var(--t-type-family-alt);
        line-height: var(--t-type-height-large);
        padding-top: var(--layout-pause);
        padding-bottom: var(--layout-space);
    }

    .container {
        container: container / inline-size;
        display: flex;
        flex-direction: column;
        gap: var(--layout-space);
    }

    footer > * > * {
        font-size: var(--t-type-size--1);
    }

    h4 {
        font-size: var(--t-type-size-0);
        font-weight: var(--t-type-height-compact);
        margin: 0 0 var(--layout-s-half);
    }

    .navigation {
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
        display: flex;
        flex-direction: column;
        gap: var(--layout-gap);
    }

    hr {
        display: none;
    }

    .site-name {
        display: inline-block;
        font-weight: 900;
        font-size: var(--t-type-size-1);
        line-height: var(--t-type-height-compact);
        padding: var(--layout-shift) var(--layout-s-quarter) var(--layout-s-quarter);
        color: var(--scheme-alt-fg);
        background-color: var(--scheme-alt-bg);
        border-radius: var(--radius-action);
    }

    .legal {
        margin-top: var(--layout-gap);
    }

    @media screen and (min-width: 650px) {
        .container {
            max-width: var(--layout-container-width);
            margin-inline: auto;
        }

        .navigation {
            gap: var(--layout-space);
            flex-direction: row;
        }
    }

    @media screen and (min-width: 1060px) {
        .container {
            max-width: initial;
            margin-inline: var(--layout-gutter);
            margin-left: calc(var(--layout-footer-shift) + var(--layout-gutter));
        }
    }

    @media print {
        footer {
            border-top: var(--layout-unit) solid var(--print-brand);
        }

        nav {
            display: none;
        }

        p {
            margin: var(--layout-gap) 0;
        }

        hr {
            display: block;
            margin: var(--layout-gap) 0 var(--layout-pause);
            border: none;
            border-bottom: var(--layout-border-medium) solid var(--scheme-edge);
        }
    }
</style>
