---
import LogoSvg from './logo/LogoSvg.astro';
import MusicSvg from './logo/MusicSvg.astro';
import NotFoundSvg from './logo/NotFoundSvg.astro';
import StorySvg from './logo/StorySvg.astro';
import WorkSvg from './logo/WorkSvg.astro';

export type LogoVariant = 'logo' | 'work' | 'story' | 'music' | 'not-found';
export interface Props {
    variant?: LogoVariant;
}

const { variant = 'logo' } = Astro.props;

const svgMap: Record<LogoVariant, any> = {
    'not-found': NotFoundSvg,
    logo: LogoSvg,
    music: MusicSvg,
    story: StorySvg,
    work: WorkSvg,
};

// eslint-disable-next-line security/detect-object-injection
const Logo = svgMap[variant];
---

<span class="site-logo">
    <Logo />
</span>

<style is:global>
    .site-logo svg {
        width: 100%;
        height: 100%;
        display: inline-block;
    }
</style>
