---
import Icon from '@components/atoms/Icon.astro';

import { ArrowUp } from '@components/icons';

export type Props = {
    hideUp?: boolean;
    full?: boolean;
};

const { hideUp, full } = Astro.props;
---

<main id="main" class:list={{ full }}>
    <div class="container">
        <slot />
        {
            !hideUp && (
                <p>
                    <a href="#main" title="Back to the top of the page">
                        <Icon size="l">
                            <ArrowUp />
                        </Icon>
                    </a>
                </p>
            )
        }
    </div>
</main>

<style>
    main {
        height: 100%;
    }

    .container {
        container: container / inline-size;
    }

    p {
        margin-top: var(--gap-v-headroom);
        text-align: right;
    }

    @media screen {
        main {
            overflow: hidden;
            min-height: 80vh;
            padding-top: var(--gap-v-headroom);
            padding-bottom: var(--gap-v-legroom);
            color: var(--scheme-fg);
            background-color: var(--scheme-bg);
            border-top: var(--layout-border-wide) solid var(--scheme-edge);
        }
    }

    @media screen and (min-width: 650px) {
        .container {
            margin-inline: auto;
            max-width: var(--layout-container-width);
        }
    }

    @media screen and (min-width: 1060px) {
        main {
            border-top: none;
            border-left: var(--layout-border-wide) solid var(--scheme-edge);
        }

        :not(.full) .container {
            margin-inline: var(--gap-h-gutter);
        }

        .full .container {
            max-width: none;
            margin-inline: var(--gap-h-gutter);
        }
    }

    @media print {
        p {
            display: none;
        }
    }
</style>
