---
export interface Props {
    title: string;
}

const { title } = Astro.props;
---

<div class="layout-section cs-secondary">
    <header class="container">
        <h2 aria-label="Current section">{title}</h2>
    </header>
    <nav class="container">
        <slot />
    </nav>
</div>

<style>
    div {
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
        display: flex;
        flex-direction: column;
        gap: var(--layout-unit);
    }

    header h2 {
        font-size: var(--t-type-size-3);
        line-height: var(--t-type-size-7);
        padding-top: var(--layout-shift-2x);
    }

    nav {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: var(--t-space-2xs);
        font-family: var(--t-type-family-nav);
        font-weight: var(--t-type-weight-alt-bold);
        font-size: var(--t-type-size-0);
        line-height: var(--t-type-size-3);
    }

    @media screen and (min-width: 480px) {
        nav {
            gap: var(--t-space-s);
        }
    }

    @media screen and (min-width: 1060px) {
        nav {
            font-size: var(--t-type-size-1);
            line-height: var(--t-type-size-4);
        }
    }

    @media screen and (min-width: 1420px) {
        nav {
            flex-direction: column;
            align-items: flex-start;
            gap: var(--t-space-2xs);
        }
    }
</style>
