---
import NavLink from './NavLink.astro';

export type Props = {
    pages: string[];
    current?: number;
};

const { pages, current } = Astro.props;

const show = pages.length > 1;
---

{
    show && (
        <div>
            Pages:
            <ul>
                {pages.map((page, index) => (
                    <li>
                        {current === index + 1 && (
                            <NavLink exact href={page}>
                                {index + 1}
                            </NavLink>
                        )}
                        {current !== index + 1 && (
                            <NavLink exact href={page}>
                                {index + 1}
                            </NavLink>
                        )}
                    </li>
                ))}
            </ul>
        </div>
    )
}

<style>
    div {
        display: flex;
        align-items: baseline;
        padding: var(--layout-space) 0;
        gap: var(--layout-gap);
    }

    ul {
        display: flex;
        gap: var(--layout-gap);
    }
    li {
        font-size: var(--t-type-size-1);
    }
</style>
