{% import "components/icons.njk" as icons %}

{% macro get_in_touch(params) %}

<div class="get-in-touch">
    {% if not paramns.hideTitle %}
    <h3>{{ 'components.action.get-in-touch.label' | t }}</h3>
    {% endif %}
    <p class="text-large">
        <span>{{ icons.arrow_right() }} <a class="email" href="mailto:hello@andretorgal.com">Email</a></span>
        <span>{{ icons.arrow_right() }} <a class="linkedIn" href="https://www.linkedin.com/in/andretorgal/">LinkedIn</a></span>
    </p>
</div>
{% endmacro %}
