---
import NodeList from '../components/NodeList.astro';
import PageSubTitle from '../components/PageSubTitle.astro';
import Section from '../components/Section.astro';
import SectionHeader from '../components/SectionHeader.astro';
import SiteFooter from '../components/SiteFooter.astro';
import SiteHeader from '../components/SiteHeader.astro';
import SiteMain from '../components/SiteMain.astro';
import Body from '../document/Body.astro';
import Document from '../document/Document.astro';
import Head from '../document/Head.astro';
import Layout from '../document/Layout.astro';
import type { AstroNode, BaseNode } from '../types';
import { today } from '../utils/date';

const RECENT_NODES_COUNT = 10;

const nodes = (await Astro.glob<AstroNode<BaseNode>>('./**/*.{md,mdx}')).sort(
    (a, b) =>
        new Date(b.frontmatter.published).valueOf() - new Date(a.frontmatter.published).valueOf(),
);

const featuredNodes = nodes.filter(n => n.frontmatter.featured);
const otherNodes = nodes.filter(n => !n.frontmatter.featured);
const recentNodes = otherNodes.slice(0, RECENT_NODES_COUNT);

const node: BaseNode = {
    url: Astro.url.toString(),
    type: 'page',
    title: 'Feed',
    description: 'A bit of everything happening on this website. Possibly too noisy.',
    published: today(),
};
---

<Document>
    <Head node={node} />
    <Body>
        <Layout>
            <SiteHeader slot="header" />
            <SiteMain slot="main">
                <Section>
                    <SectionHeader node={node} />
                    <PageSubTitle>Featured content</PageSubTitle>
                    <NodeList nodes={featuredNodes} />
                    <PageSubTitle>Recently published</PageSubTitle>
                    <NodeList nodes={recentNodes} />
                </Section>
            </SiteMain>
            <SiteFooter slot="footer" />
        </Layout>
    </Body>
</Document>
