---
import PageFooter from "../components/PageFooter.astro";
import PageHeader from "../components/PageHeader.astro";
import Document from "../document/Document.astro";
import Head from "../document/Head.astro";
import type { BaseNode } from "../types";
import { today } from "../utils/date";

const node: BaseNode = {
  url: Astro.url.toString(),
  type: 'page',
  title: 'Home',
  published: today()
}

---

<Document>
  <Head node={node} />
  <body>
    <PageHeader/>
    <main>
      <h1>Hello, welcome!</h1>
      <p>Lorem ipsum</p>
    </main>
    <PageFooter />
  </body>
</Document>
