---
export type Props = {
    title: string;
};

const { title } = Astro.props;
---

<div class="section-header cs-secondary">
    <div class="container">
        <div class="layout">
            <header>
                <h2 aria-label="Current section">{title}</h2>
            </header>
            <nav>
                <slot />
            </nav>
        </div>
    </div>
</div>

<style>
    .section-header {
        display: flex;
        flex-direction: column;
        padding-top: var(--gap-h-s);
        padding-bottom: var(--gap-h-s);
        color: var(--scheme-fg);
        background-color: var(--scheme-bg);
        user-select: none;
    }

    .container {
        container: container / inline-size;
    }

    .layout {
        width: 100%;
    }

    .layout,
    nav {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: start;
        gap: var(--gap-h-s);
    }

    header {
        display: none;
    }

    @media screen and (min-width: 480px) {
        nav {
            flex-direction: row;
            gap: var(--t-space-s);
        }
    }

    @media screen and (min-width: 650px) {
        .container {
            margin-inline: auto;
            width: 100%;
            max-width: var(--layout-container-width);
        }
    }

    @media screen and (min-width: 1060px) {
        header {
            display: block;
        }

        .section-header {
            padding-top: calc(var(--gap-v-headroom) + var(--proportional-half));
            padding-bottom: var(--gap-h-s);
            border-left: var(--layout-border-wide) solid var(--scheme-edge);
        }

        .container {
            margin-inline: var(--gap-h-gutter);
            max-width: var(--layout-container-width);
        }

        nav {
            font-size: var(--t-type-size-1);
            line-height: var(--t-type-size-4);
        }
    }

    @media screen and (min-width: 1420px) {
        .section-header {
            border-left: 0;
            height: 100%;
        }

        .container {
            margin-left: var(--gap-h-gutter-min);
            margin-right: var(--gap-h-s);
            width: calc(100% - var(--gap-h-gutter-min) - var(--gap-h-s));
        }

        nav {
            padding-top: calc(var(--gap-h-s) + var(--gap-h-s));
            flex-direction: column;
            align-items: flex-start;
            gap: var(--gap-h-s);
        }
    }
</style>
