{% import "components/icons.njk" as icons %}
{% from "components/graphics/tape.njk" import tape_1 %}
{% from "components/graphics/tape.njk" import tape_2 %}
{% from "components/action/back_to.njk" import back_to %}

{% extends "layouts/private/base-page.njk" %}

{% block mainLayoutName %}404{% endblock%}
{% block mainLayoutClass %}container-centered{% endblock%}


{% block content %}
  <div class="box">
    {{ tape_2({rotate: 'n' }) }}
    {{ tape_2({rotate: 'ne' }) }}
    {{ tape_2({rotate: 'w' }) }}
    {{ tape_2({rotate: 'n' }) }}
    <div class="formatted-content">
      {{ page.html | safe }}
    </div>
</div>
{% endblock %}

{% block after %}
  {% set linkLabel = pagename('/') %}
  {{ back_to({ url: iurl("/"), label: linkLabel}) }}
{% endblock %}

