#main-layout.layout-404 {
    position: relative;

    #main-content {
        transform: rotate(var(--global-tilt));
    }

    .tape {
        position: absolute;

        &:nth-child(1) {
            top: -20px;
            right: -50px;
        }

        &:nth-child(2) {
            top: 0px;
            right: -50px;
        }

        &:nth-child(3) {
            top: 0px;
            left: -70px;

            svg {
                transform: rotate(9deg);
            }
        }

        &:nth-child(4) {
            bottom: -25px;
            left: 45%;

            svg {
                transform: rotate(-12deg);
            }
        }
    }
}
