{% extends "layouts/private/base-page.njk" %}

{% from "components/action/get_in_touch.njk" import get_in_touch %}
{% from "components/action/back_to.njk" import back_to %}

{% block content %}
  <div class="formatted-content">
    {{ page.html | safe }}
  </div>
{% endblock %}


{% block after %}
    {% set linkLabel = pagename('/work') %}
    {{ back_to({ url: iurl("/work"), label: linkLabel}) }}

    {{ get_in_touch() }}
{% endblock %}
