#main-layout.layout-work {
    #main-content,
    .intro,
    .collaboration,
    .approach {
        display: flex;
        flex-direction: column;
        gap: var(--gap-v-l);
    }

    #main-content {
        --__padding-block-start: var(--gap-v-xs);
        --__padding-block-end: var(--gap-v-xs);
        --__padding-inline: var(--gap-h-xs);
        column-gap: var(--gap-h-3xl);
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(min-content, 1fr);
    }

    .intro,
    .approach {
        flex: 50%;
    }

    .collaboration {
        grid-row: span 2 / span 2;
        flex: 50%;
    }

    .collaboration {
        .get-in-touch {
            display: none;
        }
    }

    @media screen and (width >= 600px) {
        #main-content {
            --__padding-block-start: var(--gap-v-s);
            --__padding-block-end: var(--gap-v-m);
            --__padding-inline: var(--gap-h-s);
        }
    }

    @media screen and (width >= 1350px) {
        #main-content {
            --__padding-block-start: var(--gap-v-m);
            --__padding-block-end: var(--gap-v-l);
            --__padding-inline: var(--gap-h-m);
            max-width: 2000px;
            display: grid;
        }

        .intro {
            gap: var(--gap-v-3xl);
        }

        .collaboration {
            margin-top: var(--space-5xl);
            .get-in-touch {
                display: block;
            }
        }

        .approach {
            .get-in-touch {
                display: none;
            }
        }
    }
}
