---
import type { BaseNode } from "../types";

export type Props = { node: BaseNode };

const { node } = Astro.props;
const { description } = node;
---

{
  description && (
    <div class="node-abstract">
      <p>{description}</p>
    </div>
  )
}
