---
import type { BaseNode } from '../types';

export type Props = { node: BaseNode };

const { node } = Astro.props;
const { description } = node;
---

{
    description && (
        <div>
            <p>{description}</p>
        </div>
    )
}

<style>
    div {
        font-size: var(--t-type-size-1);
    }
</style>
