<footer class="site-footer" role="contentinfo">
  <hr>
  <div class="container">
    <div class="navigation">
      <nav class="site-footer-nav" role="navigation" aria-label="Main sections of the site">
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/posts">Blog</a>
          </li>
          <li>
            <a href="/feed">Feed</a>
          </li>
          <li>
            <a href="/tags">Tags</a>
          </li>
          <li>
            <a href="/meta">Meta</a>
          </li>
          <li>
            <a href="/about">About</a>
          </li>
        </ul>
      </nav>
      <nav class="site-footer-contacts" aria-label="you can find me elsewhere at">
        <ul class="nav-extenral">
          <li>
            <a class="external-link github" href="https://github.com/andrezero">
              <span>Github</span>
            </a>
          </li>
          <li><a class="external-link linkedin" href="https://linkedin.com/in/andretorgal">
            <span>LinkedIn</span></a>
          </li>
        </ul>
      </nav>
    </div>
    <p class="copyright">
      <span class="name">andretorgal.com</span> <span class="version">v.3.0.0</span>
      <span class="year">Copyright © 2023</span> <a href="/about">André Torgal</a>
    </p>
    <p class="license">
      All code and content for this site available on
      <a class="external-link" href="https://github.com/andrezero/site.git"><span>Github</span></a>
      under a
      <a class="external-link" href="https://raw.githubusercontent.com/andrezero/site/master/LICENSE-MIT"><span>MIT LICENSE</span></a>
      unless otherwise noted.
    </p>
    <p class="reader-only">
      <a class="external-link" href="#page-contents">
        <span>Go back to top of the page</span>
      </a>
    </p>
  </div>
</footer>
