---
import type { TagNode } from "../types";

export interface Props {
  tags: TagNode[];
}

const { tags } = Astro.props;
---

<ul>
  {
    tags.map((tag) => (
      <li>
        <a href={`/tags/${tag.title}`}>
          {tag.title} ({tag.count})
        </a>
      </li>
    ))
  }
</ul>
