:root {
    --layout-base-site-gap: var(--gap-v-l);
}

@layer layout {
    @layer base {
        #site-layout.layout-base-site {
            gap: var(--layout-base-site-gap);
        }
    }
}

#site-layout {
    view-transition-name: site-layout;
}

::view-transition-old(site-layout) {
    animation: site-layout-out var(--motion-duration-1) ease-out both;
}

::view-transition-new(site-layout) {
    animation: site-layout-in var(--motion-duration-1) ease-out both;
}

@keyframes site-layout-out {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes site-layout-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
