<div id="site-layout" class="layout-base-site layout-base-page">

  {% include 'partials/site/header.njk' %}

  <main id="main-layout" data-replace class="layout-{% block mainLayoutName %}{% endblock %} {% block mainLayoutClass %}{% endblock %}">
    {% block before %}{% endblock %}

    <div id="main-content" class="{% block mainContentClass %}{% endblock %}">
      {% block content %}{% endblock %}
    </div>

    {% block after %}{% endblock %}
  </main>

  {% include 'partials/site/footer.njk' %}

</div>

