<div id="site-layout" data-replace class="layout-base-site layout-{% block siteLayoutName %}{% endblock %} {% block siteLayoutClass %}{% endblock %}">

  {% block top %}{% endblock %}

  {% block header %}
    {% include 'partials/site/header.njk' %}
  {% endblock %}

  {% block main %}
    <main id="main-layout" class="{% block mainLayoutClass %}{% endblock %}">
      {% block before %}{% endblock %}

      <div id="main-content" class="{% block mainContentClass %}{% endblock %}">
        {% block content %}{% endblock %}
      </div>

      {% block after %}{% endblock %}
    </main>
  {% endblock %}

  {% block footer %}
    {% include 'partials/site/footer.njk' %}
  {% endblock %}

  {% block bottom %}{% endblock %}

</div>

