
<div id="site-layout" class="layout-base layout-base-page layout-{{page.layout}} {% block layoutClass %}{% endblock %}">

  {% block header %}
    {% include 'partials/site/header.njk' %}
  {% endblock %}

  {% block main %}
    <main id="main-content" class="container-centered {% block mainClass %}{% endblock %}">
      {% block top %}{% endblock %}

      <div class="main-layout {% block mainLayoutClass %}{% endblock %}">
        {% block content %}{% endblock %}
      </div>

      {% block after %}{% endblock %}
    </main>
  {% endblock %}

  {% block footer %}
    {% include 'partials/site/footer.njk' %}
  {% endblock %}

</div>

