---
export interface Props {
    show?: boolean;
}

const { show } = Astro.props;
---

{
    show && (
        <div>
            <slot />
        </div>
    )
}

<style>
    div {
        display: flex;
        flex-direction: column;
        gap: var(--layout-unit);
    }
</style>
