---
import Image from './Image.astro';
import type { ImageProps } from './image/types';
import { resolveFigureProps } from './image/utils';

export type Props = ImageProps;

const { src, alt, profile } = Astro.props;
const { title, attribution, width, height, dominant } = await resolveFigureProps(Astro.props);

const paddingTop = `${(height / width) * 100}%`;
const showLabel = !!title || !!attribution;

const imageProps = {
    src,
    alt: alt || '',
    profile,
};
---

<figure class="picture">
    <span class="frame" style={{ 'background-color': dominant }}>
        <span style={{ 'padding-top': paddingTop }}></span>
        <Image {...imageProps} />
    </span>
    {
        showLabel && (
            <figcaption class="cs-primary">
                {title}
                {attribution && (
                    <span>
                        {attribution.text}
                        {attribution?.link && (
                            <a data-external href={attribution.link}>
                                Visit site
                            </a>
                        )}
                    </span>
                )}
            </figcaption>
        )
    }
</figure>

<style>
    .picture {
        display: flex;
        flex-direction: column;
    }

    .frame {
        display: flex;
        position: relative;
    }

    .frame::before {
        z-index: 0;
        position: absolute;
        display: block;
        content: ' ';
        width: 100%;
        height: 100%;
        border: var(--layout-shift) solid var(--scheme-muted);
    }

    .frame span {
        display: block;
        width: 1px;
        margin-left: -1px;
        height: 0;
        float: left;
    }

    figcaption {
        display: flex;
        flex-direction: column;
        background: var(--scheme-muted);
        padding: var(--layout-shift-2x);
        align-self: start;
    }

    figcaption span {
        padding-top: var(--layout-shift-2x);
        font-size: var(--t-type-size--2);
        font-style: italic;
    }
</style>

<style is:global>
    .picture picture {
        position: relative;
        z-index: 1;
        width: 100%;
        min-height: 100%;
    }

    .picture picture img {
        width: 100%;
        min-height: 100%;
        height: 100%;
        color: var(--scheme-fg);
        font-size: var(--t-type-size--1);
        background-color: transparent;
    }
</style>
