---
export type Props = {
    y: number;
};

const { y } = Astro.props;

const parts: string[] = `${y}`.split('-');
const anchor = parts.length ? parts[0] : y;
---

<p class="y" id={`around-${anchor}`}><span>{y}</span></p>

<style>
    .y {
        margin-top: var(--t-space-2xs);
        font-family: var(--t-type-family-heading);
        font-size: var(--t-type-size-0);
    }

    .y span {
        padding: var(--layout-shift) var(--proportional-half);
        color: var(--scheme-alt-fg);
        background-color: var(--scheme-alt-bg);
    }

    @media screen and (min-width: 800px) {
        p.y {
            position: relative;
            left: -9.7rem;
            top: calc(-1 * var(--t-space-2xs));
            display: block;
            width: 10rem;
            height: 1em;
            margin: 0 !important;
            text-align: right;
            font-size: var(--t-type-size--2);
            border-bottom: none;
        }
    }

    @media print {
        p.y span {
            font-size: var(--t-type-size-0);
            color: var(--print-fg);
            background-color: transparent;
            border-bottom: var(--layout-shift) solid var(--print-fg);
        }
    }
</style>
