<article>
    <slot name="header" />
    <div class="content">
        <slot />
    </div>
</article>

<style>
    article {
        display: flex;
        flex-direction: column;
        gap: var(--layout-unit);
        padding-bottom: var(--gap-v-space);
    }

    .content {
        display: flex;
        flex-direction: column;
        gap: var(--gap-v-space);
    }
</style>
