---
type DividerRhythm = 'gap' | 'space' | 'pause';

export type Props = {
    size?: DividerRhythm;
};

const { size } = Astro.props;
---

<div class={size}>
    <hr />
    <slot />
</div>

<style>
    div {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: var(--layout-gap);
        width: 100%;
    }

    hr {
        width: 100%;
        margin: 0;
        border: none;
        border-top: var(--layout-border-thin) solid var(--scheme-edge);
    }

    .gap {
        margin: var(--layout-gap) 0;
    }

    .space {
        margin: var(--layout-space) 0 var(--layout-gap);
    }

    .pause {
        margin: var(--layout-pause) 0 var(--layout-gap);
    }
</style>
