---
type DividerRhythm = 'gap' | 'space' | 'pause';

export type Props = {
    size?: DividerRhythm;
    id?: string;
};

const { size, id } = Astro.props;
---

<div class={size} id={id}>
    <hr />
    <slot />
</div>

<style>
    div {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: var(--gap-h-s);
        width: 100%;
    }

    hr {
        width: 100%;
        margin: 0;
        border: none;
        border-top: var(--layout-border-thin) solid var(--scheme-edge);
    }

    .gap {
        margin: var(--gap-h-s) 0;
    }

    .space {
        margin: var(--gap-v-space) 0 var(--gap-h-s);
    }

    .pause {
        margin: var(--gap-v-pause) 0 var(--gap-h-s);
    }
</style>
