---
const show = Astro.slots.has('default');
---

{
    show && (
        <div class="markup">
            <slot />
        </div>
    )
}

<style>
    div {
        display: flex;
        flex-direction: column;
        gap: var(--layout-unit);
    }

    @media print {
        div {
            line-height: 2;
            gap: calc(3 * var(--layout-unit));
        }
    }
</style>

<style is:global>
    .markup > *:first-child {
        margin-top: 0px;
    }

    .markup > *:last-child {
        margin-bottom: 0px;
    }

    .markup > h2 {
        margin: var(--layout-gap) 0 var(--layout-unit-proportional);
    }

    .markup > h3 {
        margin: var(--layout-gap) 0 var(--layout-unit-proportional);
    }

    .markup > h4 {
        margin: var(--layout-unit-proportional) 0 var(--layout-unit-proportional);
    }

    .markup > p {
        margin: 0 0 var(--layout-unit-proportional);
    }

    .markup > .large {
        font-size: var(--t-type-size-1);
        margin: 0 0 var(--layout-unit-proportional);
    }

    .markup > ol,
    .markup > ul {
        margin: 0 0 var(--layout-unit-proportional) var(--layout-gap);
    }

    .markup > ul > li {
        list-style-type: square;
    }

    .markup > h4 {
        margin: var(--layout-unit-proportional) 0 var(--layout-unit-proportional);
    }

    .markup > pre {
        margin: var(--layout-unit-proportional) 0 var(--layout-gap);
        padding: var(--layout-unit) var(--layout-gap);
    }

    .markup > figure {
        margin: var(--layout-unit) 0 var(--layout-gap);
    }

    .markup > iframe {
        margin: var(--layout-unit) 0 var(--layout-gap);
    }

    .markup > iframe + div {
        display: none;
    }

    .markup > hr {
        width: 100%;
        margin: var(--layout-gap) 0;
        border: none;
        border-bottom: var(--layout-border-thin) solid var(--scheme-edge);
    }

    .markup > blockquote {
        position: relative;
        font-style: italic;
        font-size: var(--t-type-size-1);
        margin: var(--layout-gap) 0 var(--layout-gap) var(--layout-space);
    }

    .markup > blockquote::before {
        position: absolute;
        display: block;
        height: 0;
        width: 0.6em;
        text-align: left;
        font-family: var(--t-type-family-alt);
        font-size: 3.5em;
        font-weight: var(--t-type-weight-alt-bold);
        content: '“';
        left: calc(-1 * var(--layout-space));
        top: calc(-1 * var(--layout-shift));
        line-height: 1em;
    }

    @media screen {
        .markup > blockquote::before {
            color: var(--scheme-alt-fg);
            border-bottom: 0.6em solid var(--scheme-alt-bg);
        }
    }

    @media print {
        .markup a::after {
            color: var(--print-fg);
            content: ' (' attr(href) ')';
            font-size: 90%;
        }

        .markup > blockquote::before {
            color: var(--print-brand);
            height: 100%;
            width: 0.7em;
            border-bottom: none;
            border-right: var(--layout-shift) solid var(--print-fg);
        }
    }
</style>
