---
const show = Astro.slots.has('default');
---

{
    show && (
        <div class="markup">
            <slot />
        </div>
    )
}

<style>
    div {
        display: flex;
        flex-direction: column;
        gap: var(--layout-unit);
    }
</style>

<style is:global>
    .markup h2 {
        margin: var(--layout-gap) 0 var(--layout-unit);
    }

    .markup h3 {
        margin: calc(2 * var(--layout-unit)) 0 var(--layout-unit);
    }

    .markup h4 {
        margin: var(--layout-unit) 0 var(--layout-unit);
    }

    .markup p {
        margin: 0 0 var(--layout-unit);
    }

    .markup .large {
        font-size: var(--t-type-size-1);
        margin: 0 0 var(--layout-unit);
    }

    .markup ul {
        margin: 0 0 0 var(--layout-gap);
    }

    .markup li {
        list-style-type: square;
    }

    .markup h4 {
        margin: var(--layout-unit) 0 var(--layout-unit);
    }

    .markup img {
        margin: var(--layout-gap) 0 var(--layout-gap);
    }

    .markup iframe {
        margin: var(--layout-unit) 0 var(--layout-gap);
    }

    .markup iframe + div {
        display: none;
    }

    .markup hr {
        width: 100%;
        margin: var(--layout-gap) 0;
        border: none;
        border-bottom: var(--layout-border-thin) solid var(--scheme-edge);
    }

    .markup blockquote {
        position: relative;
        font-style: italic;
        font-size: var(--t-type-size-1);
        margin: var(--layout-gap) 0 var(--layout-gap) var(--layout-space);
    }

    .markup blockquote::before {
        position: absolute;
        display: block;
        height: 0;
        width: 0.6em;
        text-align: left;
        font-family: var(--t-type-family-alt);
        font-size: 3.5em;
        font-weight: var(--t-type-weight-alt-bold);
        color: var(--scheme-alt-fg);
        border-bottom: 0.6em solid var(--scheme-alt-bg);
        content: '“';
        left: calc(-1 * var(--layout-space));
        top: calc(-1 * var(--layout-unit));
        line-height: 1em;
    }
</style>
