---
import Image from '~/components/mdx/Image.astro';

export interface Props {
    src: string | undefined;
}

const { src: input } = Astro.props;

let src;

if (input) {
    const resource = await import(/* @vite-ignore */ input);
    src = resource.default;
}
---

{
    src && (
        <div class="hero">
            <Image src={src} />
        </div>
    )
}

<style is:global>
    .hero {
        --hero-width: 100vw;
    }

    .hero figure {
        width: auto;
        max-width: initial;
        width: var(--hero-width);
        min-width: var(--hero-width);
        max-width: var(--hero-width);
        margin-left: calc(-1 * var(--layout-gutter));
        object-fit: cover;
    }

    @media screen and (min-width: 600px) {
        .hero figure {
            margin-left: calc(-1 * (50vw - var(--layout-container-width) / 2));
        }
    }

    @media screen and (min-width: 1060px) {
        .hero {
            --hero-width: calc(100vw - var(--layout-col-1) - var(--layout-gap));
        }

        .hero figure {
            margin-left: calc(-1 * var(--layout-gutter));
            max-height: 50vh;
            overflow: hidden;
        }
    }

    @media screen and (min-width: 1420px) {
        .hero figure {
            --hero-width: calc(
                100vw - var(--layout-col-1) - var(--layout-bi-col-2) + var(--layout-space)
            );
            max-height: 50vh;
            overflow: hidden;
        }
    }
</style>
