<div class="page">
    <slot name="header" />
    <div class="content">
        <slot />
    </div>
</div>

<style>
    .page {
        display: flex;
        flex-direction: column;
        gap: var(--layout-unit);
        padding-bottom: var(--gap-v-space);
    }

    .content {
        display: flex;
        flex-direction: column;
        gap: var(--gap-h-s);
    }
</style>
