<h1 class="page-title"><slot /></h1>

<style>
    .page-title {
        line-height: calc(var(--t-type-size-6));
        font-weight: var(--t-type-weight-alt-black);
        padding: 0 0 var(--proportional-quarter);
    }
</style>
