---
export type Props = {
    contain?: boolean;
    area?: string;
};

const { area, contain } = Astro.props;
---

<section class:list={{ contain }}>
    <slot name="header" />
    <div class="content">
        <slot />
    </div>
</section>

<style define:vars={{ area }}>
    section {
        grid-area: var(--area);
        display: flex;
        flex-direction: column;
        gap: var(--gap-h-s);
    }

    .contain {
        container: section / inline-size;
        width: 100%;
        max-width: var(--layout-container-width);
    }

    .content {
        display: flex;
        flex-direction: column;
        gap: var(--gap-h-s);
        align-items: flex-start;
    }
</style>
