<section>
    <slot name="header" />
    <div class="content">
        <slot />
    </div>
</section>

<style>
    section {
        display: flex;
        flex-direction: column;
        gap: var(--layout-gap);
    }

    .content {
        display: flex;
        flex-direction: column;
        gap: var(--layout-gap);
    }
</style>
