<div class="hr"></div>

<style>
    .hr {
        width: 100%;
        margin: 0 0 var(--gap-h-s);
        border: none;
        border-bottom: var(--layout-border-medium) solid var(--scheme-edge);
    }
</style>
