---
import { type BaseNode, type LinkRoll } from '@nodes/index';

export type CardVariant = 'full' | 'compact';

export type Props = {
    node: BaseNode;
    roll: LinkRoll;
};

const { roll } = Astro.props;
---

<article class:list={['compact']}>
    <header>
        <h3>
            {roll.label}
        </h3>
    </header>
    <div class="content">
        {roll.url}
    </div>
    {roll.description}
</article>

<style>
    article {
        display: flex;
        flex-direction: column;
        gap: var(--t-space-xs);
    }

    header {
        display: flex;
        flex-direction: column-reverse;
        gap: var(--t-space-2xs);
    }

    div {
        display: flex;
        gap: var(--layout-gap);
        flex-direction: column;
    }

    @media screen and (min-width: 650px) {
        div {
            display: grid;
            gap: var(--layout-wall);
            grid-template-columns: 50% auto;
        }
    }

    p {
        font-size: var(--t-type-size-0);
    }
</style>
