---
import NodePreviousNext from '@components/node/parts/NodePreviousNext.astro';
import SiteSectionHeader from '@components/site/SiteSectionHeader.astro';

import NavLink from '@components/navigation/NavLink.astro';
import type { BlogPost } from '@queries/types';

export type Props = {
    previous: BlogPost | undefined;
    next: BlogPost | undefined;
};

const { previous, next } = Astro.props;
---

<SiteSectionHeader title="Blog">
    <ul>
        <li>
            <NavLink href="/posts" exact>Latest posts</NavLink>
        </li>
    </ul>
    <div>
        <NodePreviousNext {...{previous, next}} />
    </div>
</SiteSectionHeader>

<style>
    div {
        min-width: 100%;
        font-size: var(--t-type-size-0);
        line-height: var(--t-type-size-2);
    }
</style>
