---
import NodeDate from "../components/NodeDate.astro";
import PageFooter from "../components/PageFooter.astro";
import PageHeader from "../components/PageHeader.astro";
import PageHero from "../components/PageHero.astro";
import PageTitle from "../components/PageTitle.astro";
import Document from "../document/Document.astro";
import Head from "../document/Head.astro";
import type { BaseNode } from "../types";

export interface Props {
  content: BaseNode;
}

const { content: node } = Astro.props;
const { title, heroImage } = node;
---

<Document>
  <Head node={node} />
  <body>
    <PageHeader />
    <main>
      <article>
        <header>
          <NodeDate node={node} />
          <PageTitle>{title}</PageTitle>
          <PageHero src={heroImage} />
        </header>
        <hr />
        <slot />
      </article>
    </main>
    <PageFooter />
  </body>
</Document>
